<div fxLayout="column">
  <div fxLayout="row" class="top-section"></div>

  <div fxLayout="row" fxFlexAlign="center">

    <mat-card class="example-card mx-2">
      <mat-card-header>
        <mat-card-title>Object Modelling</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Configure Object Types</li>
          <li>Configure Attributes</li>
          <li>Configure Attribute Groups</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center">
          <button mat-button
                  (click)="navigate('/application/navigation/5eaaa5862e2efbf64a9f4a5b/5ed36cdf0c349b5f5d2f24a1')"
          > Model & Schema</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card mx-2">
      <mat-card-header>
        <mat-card-title>Configure Objects</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Create Objects</li>
          <li>Manage Objects</li>
          <li>Extend Behavior</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center">
          <button mat-button
                  (click)="navigate('/application/navigation/5eaaa5862e2efbf64a9f4a5b/5ee7aa7a862e3f0d4e19fc3c')"
          > Create & Manage Objects
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card mx-2">
      <mat-card-header>
        <mat-card-title>Configure Layout</mat-card-title>
        <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Create Navigation</li>
          <li>Create Sections</li>
          <li>Extend Layout</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center">
          <button mat-button
                  (click)="navigate('/application/navigation/5eaaa5862e2efbf64a9f4a5b/5eaf285ec4b81f12a9e733b1')"
          > Application Layout
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
