.top-section {
  min-height: 200px;
  height: 200px;
}

.dynamic-component {
  position: relative;
  top: -100px;
}

.page-title {
  font-family: Muli,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-size: 22px;
  position: relative;
  top: -10px;
  left: 48px;
}
