.dynamic-form-group-title {
  height: 40px;
  text-align: left;
  line-height: 30px;
  padding: 5px;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #06847B;
}

mat-card-title {
  line-height: 2;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}
